<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>抖音去水印视频下载</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta name="description" content="抖音短视频在线解析下载工具支持解析任何抖音短视频,并且解析出来的视频没有水印.手机、平板、电脑上都可以用的辅助下载工具,轻松一键保存无水印抖音短视频到手机相册或电脑本地.">-->
    <!--<meta name="keywords" content="抖音短视频下载,抖音视频去水印,保存无水印抖音视频到手机,下载抖音短视频到电脑,抖音视频解析下载">-->
    <!--<meta name="application-name" content="抖音短视频解析下载">-->
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta name="force-rendering" content="webkit"/>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <link href="https://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://wx.iiilab.com/static/css/site.min.css?v22" rel="stylesheet">
    <link rel="shortcut icon" href="http://iiilab.nos-eastchina1.126.net/video/favicon.ico">
    <style type="text/css">
        .container .navbar-header .logo-img {
            width: 52px;
            height: 52px;
            margin-left: 15px;
            float: left;
            display: inline-block;
            background: url(http://iiilab.nos-eastchina1.126.net/video/logo.png) no-repeat;
            background-size: contain;
            background: 0 0\9;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://iiilab.nos-eastchina1.126.net/video/logo.png', sizingMethod='scale');
        }
        @media (min-width: 768px) {
            .container .navbar-header .logo-img {margin-left: 0;}
        }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <span class="logo-img"></span>
            <a class="navbar-brand" href="/">抖音短视频解析下载</a>
        </div>
        <!--<div class="navbar-collapse collapse" role="navigation">-->
    <!--<ul id="parent-nav" class="nav navbar-nav" style="position: relative;">-->
                        <!--<li><a href="http://kuaishou.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-kuaishou')">快手<span class="visible-xs-inline">视频解析下载</span></a></li>-->
                            <!--<li><a href="http://huoshan.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-huoshan')">火山<span class="visible-xs-inline">小视频解析下载</span></a></li>-->
                            <!--<li><a href="http://toutiao.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-toutiao')">头条西瓜<span class="visible-xs-inline">视频解析下载</span></a></li>-->
                            <!--<li><a href="http://weibo.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-weibo')">微博秒拍、小咖秀<span class="visible-xs-inline">、晃咖视频解析下载</span></a></li>-->
                            <!--<li><a href="http://weishi.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-weishi')">微视<span class="visible-xs-inline">短视频解析下载</span></a></li>-->
                            <!--<li><a href="http://kg.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-kg')">全民K歌<span class="visible-xs-inline">音视频解析下载</span></a></li>-->
                            <!--<li><a href="http://meipai.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-meipai')">美拍<span class="visible-xs-inline">视频解析下载</span></a></li>-->
                            <!--<li class="visible-xs-block"><a href="http://yunyinyue.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-yunyinyue')">网易云音乐视频解析下载</a></li>-->
                            <!--<li class="visible-xs-block"><a href="http://pipixia.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-pipixia')">皮皮虾视频解析下载</a></li>-->
                            <!--<li class="visible-xs-block"><a href="http://muse.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-muse')">musical.ly视频解析下载</a></li>-->
                            <!--<li class="visible-xs-block"><a href="http://momo.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-momo')">陌陌视频解析下载</a></li>-->
                            <!--<li class="visible-xs-block"><a href="http://inke.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-inke')">映客小视频解析下载</a></li>-->
                            <!--<li class="visible-xs-block"><a href="http://xiaoying.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-xiaoying')">小影视频解析下载</a></li>-->
                    <!--<li class="hidden-xs"><a href="javascript:void(0);" >更多...<span class="caret"></span></a></li>-->
        <!--<div id="child-nav" class="navbar-default hidden-xs" style="position:absolute;top:50px;left:0;width:100%;display:none;">-->
            <!--<ul class="nav navbar-nav">-->
                                    <!--<li><a href="http://yunyinyue.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-yunyinyue')">网易云音乐</a></li>-->
                                        <!--<li><a href="http://pipixia.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-pipixia')">皮皮虾</a></li>-->
                                        <!--<li><a href="http://muse.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-muse')">musical.ly</a></li>-->
                                        <!--<li><a href="http://momo.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-momo')">陌陌</a></li>-->
                                        <!--<li><a href="http://inke.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-inke')">映客</a></li>-->
                                        <!--<li><a href="http://xiaoying.iiilab.com/" onclick="ga('send', 'event', 'nav', 'nav-xiaoying')">小影</a></li>-->
                                <!--</ul>-->
        <!--</div>-->
    <!--</ul>-->
<!--</div>-->
</div>
</div>
<div class="container" id="app" style="margin-top: 70px;">
    <div class="row">
        <div class="col-md-12">
            <div style="margin-bottom: 20px;">
                                <p>本站已支持解析下载<b>抖音</b>、<b>快手</b>、<b>火山</b>、<b>今日头条</b>、<b>西瓜视频</b>、<b>微博</b>、<b>秒拍</b>、<b>小咖秀</b>、<b>晃咖</b>、<b>微视</b>、<b>全民K歌</b>、<b>美拍</b>、<b>网易云音乐</b>、<b>皮皮虾</b>、<b>musical.ly</b>、<b>陌陌</b>、<b>映客</b>、<b>小影</b>、<b>阳光宽频</b>等平台的视频, 请通过页面顶部<span class="visible-xs-inline">右侧</span>导航菜单选择.</p>
                <p>使用方法:</p>
                <ol>
                    <li>打开抖音短视频APP，点开某个视频，点击右下角分享按钮，在分享弹框中点击复制链接或通过分享到微信QQ等获取分享链接</li>
                    <li>将刚才复制的链接粘贴到下面的输入框</li>
                </ol>
            </div>

            <div class="input-group input-group-lg" style="margin-bottom: 10px;">
                <input v-model.trim="link" @keyup.enter="submit" type="text" class="form-control link-input" placeholder="请将APP里复制的视频链接粘贴到这里">
                  <div class="input-group-btn">
                      <div v-cloak v-if="showClearBtn" @click="clearLinkInput" class="btn-clear"></div>
                      <button class="btn btn-default" :class="submitBtnClass" type="button" @click="submit">解析视频</button>
                  </div>
            </div>

            <noscript>
    <div style="text-align: center;" class="alert alert-danger" role="alert">您的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</div>
</noscript>

<div v-cloak v-if="errorTip" style="text-align: center;" class="alert alert-danger" role="alert">{{errorTip}}</div>

<div v-cloak v-if="submitBtnClass.disabled" style="text-align: center;"><img src="http://img.iiilab.com/loading.gif" style="width: 80px;height: 80px;"></div>

<div v-cloak v-if="isMP4File">
    <div class="thumbnail">
        <div class="caption" style="padding:5px 0 0;">
            <p style="text-align: center;">您输入的链接是个视频文件, 请直接点击下载.</p>
            <p style="text-align: center;">
                <a target="_blank" rel="noreferrer" :href="link" class="btn btn-success" @click="gaga('download-mp4-direct', 0)" download="video_iiilab.mp4">下载</a>
                <a href="javascript:void(0);" @click="clear()" class="btn btn-danger" style="margin:0 2px 4px;">清空</a>
            </p>
        </div>
    </div>
</div>

<!--<p style="text-align:center;margin-bottom:5px;"><span style="color:#c74b44;" >关注微信公众号: shipinxiazai 视频下载更简单</span></p>-->
            <div v-cloak v-if="requestSuccess">
                <div class="thumbnail">
                    <div class="caption" style="padding:5px 0 0;">
                        <p style="text-align: center;">
                            <a target="_blank" rel="noreferrer" :href="videoDownloadLink(requestResult.video, 'douyin')" class="btn btn-success" @click="gaga('download-video', 0)" download="douyin_iiilab.mp4">下载视频</a>
                            <a v-if="requestResult.cover" target="_blank" rel="noreferrer" :href="requestResult.cover" class="btn btn-info" @click="gaga('download-cover', 0)" download="douyin_iiilab.jpg">视频封面</a>
                        </p>
                        <p style="text-align: center;">
                            <a href="javascript:void(0);" @click="clear()" class="btn btn-danger">清空</a>
                        </p>
                    </div>
                </div>
            </div>

            <div v-cloak v-if="browserTip && (requestSuccess || isMP4File)" style="text-align: center;" class="alert alert-warning" role="alert">{{browserTip}}</div>

<div style="margin-top: 20px;">
    <p v-cloak v-if="sponsor.text.length > 0" class="sponsor-text">
        <a  v-for="item in sponsor.text" :href="item.link" target="_blank" :style="item.style" rel="nofollow" @click="ga('send', 'event', 'outlink', item.gaFlag)" v-html="(item.bold ? '<b>' : '') + item.text + (item.bold ? '</b>' : '')"></a>
        <span>广告</span>
    </p>
    <p v-cloak v-if="sponsor.img.length > 0" class="sponsor-img">
        <a v-for="(item, index) in sponsor.img" :href="item.link" target="_blank" :class="{'visible-xs-inline': index > 2, 'visible-sm-inline': index > 2}" rel="nofollow" @click="ga('send', 'event', 'outlink', 'img-' + index)"><img :src="item.img"></a>
    </p>
    <div v-cloak v-if="sponsor.img.length === 0" id="ga-code"></div>
</div>
            <div style="margin-top: 20px;">
                <p>常见疑问:</p>
                <ol style="word-break: break-all;">
                    <li>Android手机上可以用吗？</li>
<p class="alert alert-info">可以的，Android手机在常用的Chrome、UC、360、QQ等浏览器上都可以很方便的使用本站。推荐使用Chrome浏览器获得最佳下载体验。</p>
<li>iOS设备（iPhone、iPad、iPod）上点击下载视频按钮后，跳转到视频页面，并没有直接下载，怎么办？</li>
<p class="alert alert-info">因Safari及微信内置浏览器均不支持下载文件，所以保存视频需要借助第三方App来完成下载，建议iOS用户在App Store下载免费的Documents 6，然后在Documents的内置浏览器中使用本站，可以完美下载视频，并且Documents支持将下载的视频移到手机相册。参考: <a href="http://www.iiilab.com/article/9" target="_blank" onclick="ga('send', 'event', 'outlink', 'iPhone-Documents')">iPhone上利用Documents下载和管理视频教程</a></p>
<li>我在电脑上用的是IE浏览器，点下载视频按钮后，出现跟上面那用iPad的哥们一样的情况，跳转到视频页面，如何下载到本地呢？</li>
<p class="alert alert-info">电脑上少数浏览器不支持直接下载，但可以在下载视频按钮上点击右键，然后选择"目标另存为"或"链接存储为"来下载视频；或者到跳转后的视频页面，在视频画面上点击右键，然后选择"视频另存为"来下载视频。当然，我们更推荐在电脑上使用如谷歌Chrome浏览器、360浏览器极速模式、QQ浏览器极速模式等现代浏览器来获得最佳上网体验。</p>                </ol>
            </div>

<script type="text/javascript">
    var site = "douyin";
</script>
            <div style="text-align: center;margin-top: 20px;">
                <p style="margin-bottom: 5px;"><a href="http://www.iiilab.com/article/10">赞助本站</a> &bull; <a href="http://www.iiilab.com/article/11">使用教程</a> &bull; <a href="http://www.iiilab.com/article/60">解析接口</a></p>
                <p style="margin-bottom: 5px;">技术支持QQ群: 703457295、720044781</p>                <p style="font-size: 13px;color: #999;">视频归相关网站及作者所有，本站不存储任何视频及图片。<br>&copy;2018 iiiLab 浙ICP备15023022号</p>
            </div>
        </div>
    </div>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://lib.baomitu.com/vue/2.2.6/vue.min.js"></script>
<script src="https://wx.iiilab.com/static/js/1.5.1/vue-resource.min.js?v83"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-98109640-7', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
